div{
  transition-property:all;
  transition-duration:3s;
  color:rgb(1, 1, 37);
  font-family: algerian ;
   } 
div:hover{
    background-color:white ;
    width:100%;
   }

body{
     background-color: rgb(175, 175, 231);
     background-size:cover;
align-content: space-between; 
  }
h2{
    color:#04284d; 
    font-size:32;
     }
h2:hover{
    background-color:#F2F4F4 ;
    width:100%;
   }
   a{
       text-decoration-line: none;
   }
